<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Passwort</title>
    <th:block th:insert="util/import.html :: meta" ></th:block>
    <th:block th:insert="util/import.html :: head"></th:block>
    <th:block th:insert="util/import.html :: login"></th:block>
</head>
<body>
<th:block th:insert="util/import.html :: loader"></th:block>
<div id="wrapper">
    <th:block th:insert="util/header.html :: header"></th:block>
    <th:block th:insert="util/navigation.html :: navigation"></th:block>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Passwort zurücksetzen</h4> </div>
            </div>
            <!-- /.row -->
            <!-- .row -->
            <div class="row white-box-wrapper">
                <div class="col-md-8 col-xs-12 white-box-container">
                    <div class="white-box login-form">
                        <form class="form-horizontal form-material" method="post" th:object="${loginDto}">
                            <div class="form-group">
                                <label for="email" class="col-md-12">Email</label>
                                <div class="col-md-12">
                                    <input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line" name="email" id="email"> </div>
                            </div>
                            <div class="form-group">
                                <div class="col-6">
                                    <button class="btn btn-success m-l-15">Zurücksetzen</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        <th:block th:insert="util/footer.html :: footer"></th:block>
    </div>
</div>

<th:block th:insert="util/import.html :: body"></th:block>
</body>
</html>