<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <title>Benutzer</title>
    <th:block th:insert="util/import.html :: meta" ></th:block>
    <th:block th:insert="util/import.html :: head"></th:block>
    <th:block th:insert="util/import.html :: login"></th:block>
</head>
<body>
<th:block th:insert="util/import.html :: loader"></th:block>
<div id="wrapper">
    <th:block th:insert="util/header.html :: header"></th:block>
    <th:block th:insert="util/navigation.html :: navigation"></th:block>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title" th:text="#{users}"></h4>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <h3 class="box-title" th:text="#{users.allUsers}"></h3>
                        <div class="search-container">
                            <ul class="nav navbar-top-links hidden-xs">
                                <li class="in">
                                    <form role="search" class="app-search hidden-xs">
                                        <input type="text" placeholder="Search..." id="searchUsers" class="form-control"/> <a href="" class="active"><i class="fa fa-search"></i></a>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row" id="users-box">
                        <div th:each="user , it : ${users}" th:with="index = ${it.count}" class="col-12 col-md-6">
                            <div class="card-body white-box">
                                <h5 class="card-title" th:text="${index + ' : ' + user.firstname+ ' ' + user.lastname}"></h5>
                                <h6 class="card-subtitle mb-2 text-muted" th:text="${user.email}"></h6>
                                <p class="card-text" th:text="${user.authorities}"></p>
                                <a th:href="@{/users/edit/}+${user.id}" class="btn btn-info card-link"
                                th:id="${user.getEmail()+'.edit'}">
                                    <i class="fa fa-edit " aria-hidden="true"></i>
                                </a>
                                <a th:if="${!user.hasAutorithy('DISCIPLEMAKER')}" th:href="@{/users/delete/}+${user.id}"
                                   onclick="if (!(confirm('Wollen Sie wirklich löschen ?'))) return false"
                                   class="btn btn-danger card-link"
                                   th:id="${user.getEmail()+'.delete'}" >
                                    <i class="fa fa-trash " aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .row -->
        </div>
        <!-- /.container-fluid -->
        <th:block th:insert="util/footer.html :: footer"></th:block>
    </div>
</div>

<th:block th:insert="util/import.html :: body"></th:block>
</body>
</html>